{% extends 'temp/view_templates_user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post"></form>
	<table border="1"class="table table-dark">
		<tr>
			<th>NAME</th>
{#			<th>PHONE</th>#}
{#			<th>ADDRESS</th>#}
			<th>EMAIL</th>
			<th>LICENCE</th>
{#			<th>STATUS</th>#}
		</tr>
        {% for i in j %}
		<tr>
            <td>{{ i.name }}</td>
{#            <td>{{ i.phone }}</td>#}
{#            <td>{{ i.address }}</td>#}
            <td>{{ i.emailid }}</td>
            <td><a href="/static/{{ i.license }}"><img src="/static/{{ i.license }}" height="100px" width="100px"></a></td></td>
{#            <td>{{ i.status}}</td>#}
{#		    <td></td>#}
            <td><a href="/event/user_view/{{ i.em_id }}" class="btn btn-primary">View Events</a> </td>
	</tr>
        {% endfor %}
	</table>

	</center>


</body>
</html>
{% endblock %}