{% extends 'temp/view_templates_admin.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post"></form>
	<table border="1" class="table table-dark">

		<tr>
			<th>FACILITY</th>
			<th>TYPE</th>
			<th>DESCRIPTION</th>
            <th>OWNER</th>
			<th>AMOUNT</th>
            <th>EVENT</th>
		</tr>
            {% for i in x %}
		<tr>
		<td>{{ i.facilites_id}}</td>
		<td>{{ i.type}}</td>
		<td>{{ i.description }}</td>
		<td>{{ i.em.name }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.event.name }}</td>

        </tr>
        {% endfor %}
	</table>
	</center>


</body>
</html>
{% endblock %}